
  
  body {
    font-family: 'Libre Franklin', sans-serif;
    background: linear-gradient(270deg, #246655, #9fb6b0, #b2a98e, #636361);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }

.logo {
    max-width: 250px;
    display: block;
  width: 50%;
  height: auto;
  padding-top: 10px;
  padding-left: 10px;
}

.header-block {
    display: flex;
    justify-content: space-between;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
  }

  li {
    display: inline-block;
    color: #000;
    padding-top: 15px;
    padding-right: 15px;
    margin-top: 25px;
    margin-right: 25px;
    text-decoration: none;
    font-size: 18px;
  }

h1 {
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
}

h3 {
    font-family: 'Libre Franklin', sans-serif;
    text-align: center; 
}

p {
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    font-size: 16px;  
}

/* header {
    background-image: url("Assets/IMG_20230608_144446_983.jpg");
} */

.card-box {
    display: flex;
    flex-flow: row;
    background-color: transparent;
    border: 0px;
    margin: 0px;
    border-radius: 5px;
}

.card {
  width: 25%;
  height: 500px;
  margin: 25px;
  perspective: 500px;
  border-radius: 5px;
      grid-template-rows: 210px 250px 20px;
  }

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border-radius: 5px;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  backface-visibility: hidden;
}

.front {
  background: rgb(157,157,157);
background: linear-gradient(326deg, rgba(157,157,157,1) 0%, rgba(227,227,227,1) 0%, rgba(255,255,255,1) 100%);
    border-radius: 5px;
    overflow: hidden;
}

.card-title {
    font-size: 36px;
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.card-back {
    font-size: 18px;
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.card-back-p {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}
.back {
    background: rgb(157,157,157);
    background: linear-gradient(126deg, rgba(157,157,157,1) 0%, rgba(0,0,0,1) 100%);
  color: white;
  transform: rotateY( 180deg );
  border-radius: 5px;
}

.card-image {
    width: 95%;
    height: auto;
    margin: 5px;
}
.card-image.arctos {
    width: 50%;
    padding-top: 10px;
    height: auto;
}

.title {
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: auto;
  margin-right: auto;
    max-width: 33%;
}
 a {
    text-decoration: none;
    margin: auto;
    padding: 5px;
    color: black;
 }
button {
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    border: 0;
    background-color: white;
    transition-duration: 0.4s;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 95%;
}

button:hover {
    background-color: black ; /* Green */
    color: white;
  }

  #indaba-logo {
    padding-top: 10%;
    max-width: 75%;
  }

  img {
    border-radius: 5px;
  }

  @media screen and (max-width:600px) {
    .card-box { flex-direction: column;  }
   /* .arctos { flex-basis: 100%; } */
   .flex-item { width: 100%; padding-bottom: 50px }
   .card {width: auto;}
   ul {display:none;}
   .title {max-width: 75%;}
  }

  h1{
    margin: 2em auto;
    width: 200vh;
    max-width: 80%;
    text-align: center;
    font-size: 48px;
    line-height: 1.5em;
    font-family: 'Libre Franklin', sans-serif;
   width: 400px;
  }
  
  h1{
    animation: ease blurIn 1.5s;
    position: relative;
    font-size: 66px;
  }

  .title::before {
    content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: black;
  bottom: 0;
  left: 0;
    transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
  }
  .title:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  
  .nav-item::before {
    content: '';
  position: absolute;
  width: 30px;
  height: 1.5px;
  bottom: .1;
  left: 1;
  border-radius: 4px;
  background-color: black;
    transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
  }

  .nav-item:hover::before {
    transform-origin: top;
    transform: scaleX(1);
  }
  
  @keyframes slideOut { 
    0% { 
      transform: translateY(-50%);
    } 
    100% { 
      transform: translateY(100%);
    }  
  }
  
  
  
  @keyframes blurIn { 
    0% { 
      opacity: 0; 
      transform: scale(.9);
      filter: blur(1em); 
    } 
    100% { 
      opacity: 1;
      transform: scale(1);
      filter: blur(0);
    }  
  }

.box-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: bottom;
  overflow: hidden;
}
.facts {
  width: 50%;
  height: 20vh;
  border-radius: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
  background: rgb(157,157,157);
background: linear-gradient(326deg, rgba(157,157,157,1) 0%, rgba(227,227,227,1) 0%, rgba(255,255,255,1) 100%);
  bottom: auto;
  max-width: 48%;
  min-width: 48%;
  overflow: hidden;
  align-self: flex-end;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav-bar {
  justify-content: center;
  text-align: center;
}

.nav-item {
  margin: 5px;
  padding: 0%;
}

.coffee-img {
  width: 300px;
  height: auto;
  padding-top: 15px;
  padding-left: 15px;
  display: inline;
}