.logo {
    max-width: 300px;
    padding-left: 25px;
    padding-top: 25px;
    display: inline;
}

h1 {
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
}

.header-block {
    text-align: left;
}

#btn {
    font-family:'Libre Franklin', sans-serif;
}

ul {
    list-style-type: none;
    margin: 5;
    padding: 0;
      }

li {
    margin: 5px;
}

#boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}

.flex-item {
    width: 30%;
    height: auto;
    font-family:'Libre Franklin', sans-serif;
    text-align: center;
    font-size: 24px;
    padding-top: 50px;
}

.footer {
    text-align: center;
    margin-top: 500px;
}

.intro {
    text-align: center;
    width: 500px;
    padding-top: 50px;
    margin: auto;
}

.boxes {
    display: flex;
  }
  .boxes > div {
    flex: 1; /*grow*/
  }

  hr {
    margin: 25px;
  }

  #quiz-button {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    width: 75%;
    height: 80px;
    font-family:'Libre Franklin', sans-serif;
    font-size: 33px;
    transition-duration: 0.4s;
    border: 0px;
  }

  #quiz-button:hover {
    background-color: black;
    color: white;
  }

  #spokane-pav {
    width: 500px;
    height: auto;
  }

  #spokane-pav-cont{
    margin: auto;
    text-align: center;
  }

.coffee-list {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    width: 75%;
    height: 80px;
    font-family:'Libre Franklin', sans-serif;
    font-size: 33px;
    transition-duration: 0.4s;
    border: 0px;
}

.coffee-list:hover {
    background-color: black;
    color: white;
}

.recipe-list {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    width: 75%;
    height: 80px;
    font-family:'Libre Franklin', sans-serif;
    font-size: 33px;
    transition-duration: 0.4s;
    border: 0px;
}

.recipe-list:hover {
    background-color: black;
    color: white;
}

#arctos {
    margin-top: 30px;
}

#aero {
    margin-top: 60px;
}

a {
    text-decoration: none;
}